<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function getCards(page) {
            const btn = $('.load-more');
            const loader = btn.find('span');
            $.ajax({
                url: '/cards',
                data: { "page": page },
                type: 'GET',
                beforeSend: function(){
                    btn.attr('disabled', true);
                    loader.addClass('d-inline-block');
                },
                success: function(response){ 
                    loader.removeClass('d-inline-block');
                    btn.attr('disabled', false);
                    console.log(response);
                    if (response === ''){
                        console.log('response equals null');
                        btn.remove();
                        $('.after-posts').append($("<p class='text-info'>This are all cards that we have =(</p>"));
                    }
                    $('.after-posts').before(response);
                },
                error: function() {
                    alert('Error!');
                    loader.removeClass('d-inline-block');
                    btn.attr('disabled', false);
                }
            })
        }

        $(document).ready(function() {
            var page = 1;
            getCards(page);

            $('.load-more').on('click', function() {
                page = page + 1;
                getCards(page);
            })
        })
    </script>
    <title>Business cards</title>
</head>