{{> head}}

<body>
    <div class="jumbotron bg-dark text-white">
        <div class="container">
            <h1>Business cards</h1>
        </div>
    </div>


    <div class="container my-5">
        <div class="row">
            {{> cards}}
            <div class="col text-center after-posts">
                <button type="button" class="btn btn-outline-secondary load-more">
                    Load more
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true">
                    </span>
                </button>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <h4>Introduced by <b>Dmitry Avtenev</b></h4>
        </div>
    </div>
        
</body>
</html>

